
# ignore dir
#build/
build/*.txt
build/Makefile
build/*.cmake
build/*.vcxproj
build/*.filters
build/*.sln
build/Win32
build/X64
build/CMakeFiles
build/sdk_core
build/sample
build/sample_cc
.vs
.vscode
doc/sphinx
docs

#whitelist
!build/notes.txt


